.scrollSection {
}

.projectSectionWrapper {
  width: 100%;
  background: linear-gradient(to bottom, #d9d9d9, #f1eef4, #d9d9d9);
  position: relative;
}

.rocket {
  right: 50%;
  transform: translateX(50%);
  z-index: 3;
  position: absolute;
  /* top: -30%; */
  display: block;
  height: 6rem;
  width: 8rem;
  z-index: 3;
  stroke: #d9d9d9;
  opacity: 0;
}

.projectSection {
  width: 100%;
}

.spacerDiv {
  height: 100vh;
  width: 100%;
  opacity: 0;
}

.footerSectionWrapper {
  background-color: #0d0d0d;
  width: 100%;
  height: 100vh;
  transform: translateY(100vh);
  /* border: 2px solid white; */
}
