.scrollSectionWrapper {
  min-height: 1000vh;
  background-color: #d9d9d9;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  /* overflow-x: hidden; */
  z-index: 3;
  /* border: 2px dashed red; just for visibility */
}

.scrollSection {
  position: relative;
}

.rocket {
  right: 50%;
  transform: translateX(50%);
  z-index: 3;
  position: absolute;
  /* top: -30%; */
  display: block;
  height: 6rem;
  width: 8rem;
  z-index: 3;
  stroke: #d9d9d9;
  opacity: 0;
}
